.display{
    grid-column: span 4;
    background-color: rgb(48, 47, 47);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1em;
    overflow: hidden;
}